@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    user-select: none;
    outline: none;
}

:root {
    --bg-color: white;
    --scrollbar-thumb-bg: #cacaca;
    --scrollbar-thumb-hover-bg: #bcbcbc;
    --dark-border-color: #444;
    --hover-color: #f3f4f6;
}

body {
    background: var(--bg-color);
    line-height: inherit !important;
    min-width: 9rem;
}

*::-webkit-scrollbar {
    background: var(--bg-color);
    height: 8px;
    width: 8px;
}


.noScrollBar *::-webkit-scrollbar {
    display: none !important;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg);
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-corner {
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --scrollbar-thumb-bg: #454545;
        --scrollbar-thumb-hover-bg: #5d5d5d;
        --hover-color: #333;
    }

    * {
        border-color: var(--dark-border-color);
    }
}

@layer components {
    .bg-color {
        @apply dark:bg-[var(--bg-color)] bg-white;
    }

    .text-color {
        @apply dark:text-gray-50;
    }

    .hover-color {
        @apply hover:bg-gray-100 dark:hover:bg-[#333];
    }

    .hover-active {
        @apply bg-gray-100 dark:bg-[#333];
    }
}

/*fix*/
.n-radio-group .n-radio-button.n-radio-button--checked {
    border-width: 1px !important;
}

.n-radio-group.n-radio-group--button-group .n-radio-group__splitor {
    display: none;
}

.n-radio-group .n-radio-button .n-radio-button__state-border {
    bottom: 0 !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
}

.n-radio-group.n-radio-group--button-group .n-radio-button {
    height: auto !important;
    line-height: 26px !important;
}

.n-input .n-input__input-el {
    line-height: inherit!important;
}